*{

    background-color: rgb(162, 155, 204);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

h1{

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.regresar{

    text-align: center;
}


