
*{
    background-color: #77929c ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
   


.Imagen{

    text-align: center;
}

.contenedor{

    text-align: center;
}

h1{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.muestra{

    text-align: right;
}

.loco{
    text-align: center;
}

.org{

    text-align: center;
}


    